In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('./BankChurners.csv')

In [18]:
pd.set_option('display.max_columns',30)

A manager at the bank is disturbed with more and more customers leaving their credit card services. They would really appreciate if one could predict for them who is gonna get churned so they can proactively go to the customer to provide them better services and turn customers' decisions in the opposite direction

I got this dataset from a website with the URL as https://leaps.analyttica.com/home. I have been using this for a while to get datasets and accordingly work on them to produce fruitful results. The site explains how to solve a particular business problem.

Now, this dataset consists of 10,000 customers mentioning their age, salary, marital_status, credit card limit, credit card category, etc. There are nearly 18 features.

We have only 16.07% of customers who have churned. Thus, it's a bit difficult to train our model to predict churning customers.

In [21]:
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [24]:
df = df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])

In [27]:
df.sample(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
7364,719654283,Existing Customer,52,F,2,Graduate,Married,$40K - $60K,Silver,42,3,3,2,19220.0,0,19220.0,0.997,4642,81,0.761,0.000
1752,804668658,Attrited Customer,26,F,0,Uneducated,Single,Less than $40K,Blue,20,3,2,4,1438.3,0,1438.3,0.506,947,20,0.053,0.000
6970,708158133,Attrited Customer,45,M,3,College,Married,$80K - $120K,Blue,36,3,2,2,3031.0,2517,514.0,0.409,2188,50,0.389,0.830
7877,714600258,Existing Customer,45,M,2,Post-Graduate,Married,$60K - $80K,Blue,36,1,2,2,5945.0,2015,3930.0,0.815,3645,70,1.000,0.339
8520,741517458,Attrited Customer,49,F,4,Graduate,Married,Less than $40K,Blue,42,2,4,3,2575.0,2517,58.0,0.310,1874,40,0.739,0.977

In [28]:
df.shape

(10127, 21)